* { /*Universal Selector*/
	/*border-width: 1px;
	border-style: solid;
	border-color:red;*/
	font-family: 'Roboto', sans-serif;
	/*font-size:20px;*/
}

p1 {
	color: red;
	line-height: 1.8;
}

p2 {
	color: orange;
	line-height: 1.8;
}

p3 {
	color: yellow;
	line-height: 1.8;
}

h1 {

	font-size: 2rem;
}

h2 {
	font-size: 1rem;
	text-transform: uppercase;
}

#list1 li {
	background-color: lightgreen;
}

#list2	li {
	border-style: solid;
	border-color: blue;
	border-width: 1px;
}

#list3 li {

	letter-spacing: 5px;
}

img {

	height: 100px;
	width: 100px;
	border-radius: 250px;
}

p {

	text-align: center;
}