/*External CSS - are the styles that are included on a separate css file. Best Practice*/
* { /*Universal Selector*/
	/*border-width: 1px;
	border-style: solid;
	border-color:red;*/
	font-family: 'Roboto', sans-serif;
	font-size:20px;
}

body {
	background-color: skyblue;
}

nav {
	background-color: white;
}

h1 {
	color:yellow;
	text-align: center; /*aligns the text/content of the html tag into center*/
	font-size: 2rem;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	/*display: inline;*/ /*display - changes the default behaviour of an element*/
}

/*this div is for the nav's div tag */
nav > div {
	display: inline; /*change the div default behaviour from block into inline*/
	float:right; /*floats the div into the right side of the nav tag*/
}

img ` div {
	height: 100vh;
	text-align: center;
}

img	{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

#landing > ol {
	list-style-type: none;
}

nav a, #register a, #landing
	text-decoration: none;
/*css rule set*/
/*id selector - targets HTML element using its id attribute*/
#zuitt-motto {
	color:pink;
}

#first-paragraph {
	color: gray;
}

/*type selector - targets the HTML element using their HTML tagname*/
/*h1 {
	background-color: pink;
}
*/
p {
	font-size: 20px;
}

/*class selector -  to target element with similar styling. This is a good approach to use for elements that have similar styles accross the whole application*/
.heading-n {
	/*transforms the content to a certain case. Since we give a value uppercase, the texts will change into capitalized letters*/
	text-transform: uppercase;
}

.offering-item {
		/*letter spacings changes the spaces between the charactes of a text*/
	letter-spacing: 5px;
}

/*attribute selector*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color:navy;
}


/* CSS Selector Combinators  */

/*Adjacent Sibling Selector (+) - targets the next sibling of an element*/
/*div + p { targets only the adjacent / next element to div tag
	color: red;
}
*/
/*General Sibling Selector (~) - targets all the sibling of an element*/
/*div ~ p {
	color:blue;
}*/

/*Child Selector (>) - targets all the child element of a parent element*/

/*#sample > p {
	color:orange;
}*/

/*Descendant Selector (white space) - targets all the descendant elements (child/grandchild/greatgrandchild) of a parent element*/

/*#sample p {
	color: gray;
}*/

/*Grouping Selector (,) - targets multiple elements and applies the same styling for them*/

/*#sample > p, #sample ~ p {
	color: green;
}*/